.App-body {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  text-align: center;
}

.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  max-height: 250px;
}

h1 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  margin-top: 50px;
}

.typeSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDisplay {
  margin: 10px;
}